<!DOCTYPE html>
<html><head><title>Edit Book</title><style>body{font-family:system-ui;margin:40px}</style></head><body>
<h1>Edit Book</h1>
<form method="post">
<p>Title: <input name="title" value="{{ book.title }}" size="70" required></p>
<p>Author: <input name="author" value="{{ book.author }}" size="70" required></p>
<p>ISBN-13: <input name="isbn13" value="{{ book.isbn13 or '' }}" size="20"></p>
<p>ISBN-10: <input name="isbn10" value="{{ book.isbn10 or '' }}" size="20"></p>
<p>LCCN: <input name="lccn" value="{{ book.lccn or '' }}" size="20"></p>
<button type="submit">Update</button> <a href="/">Cancel</a>
</form></body></html>
